<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mike Morris" />
    

    <title>Cloud Morris</title>

    <!-- Bootstrap Core CSS -->
    <!--<link th:href="@{css/bootstrap.min.css}" rel="stylesheet"></link>-->

    <!-- Custom CSS -->
    <link th:href="@{css/stylish-portfolio.css}" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link th:href="@{font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{font-awesome/css/fontcustom.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js" th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a id="a1" href="#top" th:onclick="'javascript:menu-close.click();'">Start Bootstrap</a>
            </li>
            <li>
                <a id="a2" href="#top" th:onclick="'javascript:#menu-close.click();'">Home</a>
            </li>
            <li>
                <a id="a3" href="#about" th:onclick="'javascript:menu-close.click();'">About</a>
            </li>
            <li>
                <a id="a4" href="#services" th:onclick="'javascript:menu-close.click();'">Services</a>
            </li>
            <li>
                <a id="a5" href="#portfolio" th:onclick="'javascript:menu-close.click();'">Portfolio</a>
            </li>
            <li>
                <a id="a6" href="#contact" th:onclick="'javascript:menu-close.click();'">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Cloud Morris</h1>
            <h3>Data Visualization using R/Shiny and AWS</h3>
            <br></br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <div class="container" id="applist">
        <div th:each="app: ${apps}">
            <div class="row" >
                <div class="col-md-7">
                    <img class="img-responsive" th:src="${app.previewurl}" height= />                    
                </div>
                <div class="col-md-5">
                    <h3 th:text="${app.displayName == null} ? ${app.name} : ${app.displayName}"></h3>
                    <h4 th:text="${app.subheading}"></h4>
                    <p th:if="${app.description != null}" th:text="${app.description}"></p>
                    <a class="btn btn-primary" th:href="@{/app/}+${app.name}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        <hr/>
        </div>
    </div>
    <hr/>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>The Technology Stack</h2>
                    <hr class="small" />
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>AWS</strong>
                                </h4>
                                <p>Amazon Web Services (AWS) is a secure cloud services platform, offering compute power, database storage, content delivery and other functionality to help businesses scale and grow.</p>
                                <a href="https://aws.amazon.com/what-is-aws/" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Shiny</strong>
                                </h4>
                                <p>A web application framework for R that can turn your analyses into interactive web applications.</p>
                                <a href="https://shiny.rstudio.com/" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>R</strong>
                                </h4>
                                <p>R is a programming language and software environment for statistical computing and graphics supported by the R Foundation for Statistical Computing</p>
                                <a href="https://www.r-project.org/about.html" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-leaf fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Thymeleaf</strong>
                                </h4>
                                <p>Java XML/XHTML/HTML5 template engine that can work both in web (Servlet-based) and non-web environments.</p>
                                <a href="http://www.thymeleaf.org/" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <hr/>
    
    <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Project Forks and Code References.</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://github.com/openanalytics/shinyproxy">ShinyProxy</a></h4>
                        <p>Deploy Shiny apps in an enterprise context. Developed by <a href="https://www.openanalytics.eu">Open Analytics NV</a>.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://aws.amazon.com">AWS</a></h4>
                        <p>All applications hosted on AWS.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://github.com/iheartradio/ShinyBuilder">ShinyBuilder</a></h4>
                        <p>Point-and-click dashboard platform. Developed by <a href="https://github.com/iheartradio">iHR DataScience</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://sqlite.org">Sqlite</a></h4>
                        <p>SQL database engine.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.kaggle.com/host">Kaggle datasets</a></h4>
                        <p>Kaggle is a platform for data science competitions.</a></p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Linux</h4>
                        <p>All code is developed and tested for deployment on linux based systems.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://startbootstrap.com/">Bootstrap</a></h4>
                        <p>Web templates from Bootstrap.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="http://www.thymeleaf.org/">Thymeleaf</a></h4>
                        <p>Server-side Java template engine for both web and standalone environments.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-envira fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://projects.spring.io/spring-boot/">Spring Boot</a></h4>
                        <p>Spring helps development teams everywhere build simple, portable,  fast and flexible JVM-based systems and applications.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Mike Morris</strong>
                    </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (757) 408-0902</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:mike.morris89@gmail.com">mike.morris89$gmail.com</a>
                        </li>
                    </ul>
                    <br></br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://hub.docker.com/u/mikemorris89/"><i class="fa fa-github-alt fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/MikeMorris89"><i class="fa fa-docker fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.kaggle.com/mikemorris89"><i class="fa fa-flask fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small" />
                    <p class="text-muted">Copyright &copy; CloudMorris 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Scrolls to the selected menu item on the page
        $(function() {
            $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        //#to-top button appears after scrolling
        var fixed = false;
        $(document).scroll(function() {
            if ($(this).scrollTop() > 250) {
                if (!fixed) {
                    fixed = true;
                    // $('#to-top').css({position:'fixed', display:'block'});
                    $('#to-top').show("slow", function() {
                        $('#to-top').css({
                            position: 'fixed',
                            display: 'block'
                        });
                    });
                }
            } else {
                if (fixed) {
                    fixed = false;
                    $('#to-top').hide("slow", function() {
                        $('#to-top').css({
                            display: 'none'
                        });
                    });
                }
            }
        });
        // Disable Google Maps scrolling
        // See http://stackoverflow.com/a/25904582/1607849
        // Disable scroll zooming and bind back the click event
        var onMapMouseleaveHandler = function(event) {
            var that = $(this);
            that.on('click', onMapClickHandler);
            that.off('mouseleave', onMapMouseleaveHandler);
            that.find('iframe').css("pointer-events", "none");
        };
        var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        };
        // Enable map zooming with mouse scroll when the user clicks the map
        $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>